<!DOCTYPE html>
<html>
<head>
    <title>Voting System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">

</head>
<body>
    <h1>Voting System</h1>

    <form method="POST">
        <!-- voter id input -->
        <label for="voter_id">Voter ID:</label><br>
        <input type="text" id="voter_id" name="voter_id" value="Caspar" required><br>
        <label for="passphrase">Passphrase (Encrypted with your private key):</label><br>
        <input type="password" id="passphrase" name="passphrase" value="test" required><br>
        <label for="key">Your Public Key:</label><br>
        <textarea type="text" id="key" name="key" placeholder="test" required>ssh-rsa QDGJaKc6UQmN</textarea><br>
        <label for="vote">Your Vote:</label><br>
        <select id="vote" name="vote" required>
            {% for candidate in candidates %}
                <option value="{{ candidate }}">{{ candidate }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Submit">
    </form>

    {% if response %}
        <h2>Server Response:</h2>
        <p>{{ response }}</p>
    {% endif %}
    <h2>Results</h2>
    <ul>
    {% for result in results %}
        <li>{{ result }}</li>
    {% endfor %}
    </ul>

    <button onclick="window.location.href='{{ url_for('show_results') }}';">View Results</button>

</body>
</html>